table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
 
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
 
  th {
    background-color:whitesmoke;
    padding: auto;
  }
 
 .hari{
   background-color: whitesmoke;
 } 
 .andro{
    background-color:grey;
 }
 .web{
    background-color: rgb(110, 110, 110);
 }
 .bk{
    background-color:rgb(247, 230, 205);
 }
 .inggris{
    background-color: beige;
 }
 .pkk{
    background-color: cadetblue;
 }
 .pilihan{
    background-color: darkorchid;
 }
 .pkn{
    background-color: goldenrod;
 }
 .indonesia{
    background-color: rgb(190, 204, 157);
 }
 .jawa{
    background-color: fuchsia;
 }
 .mtk{
    background-color: firebrick;
 }
 .sejarah{
    background-color: burlywood;
 }
 .pjok{
    background-color: rgb(233, 224, 173);
 }
 .pabp{
    background-color: rgb(223, 240, 192);
 }
 img{
   width:300px;
   border-radius:300px;
}