body{
    background-color:#183D3D;
    font-family: cursive;
}
.profile {
    background-color:#93B1A6;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5) ;
    border-radius: 40px;
    width: 50%;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: cursive;

}
img{
    width: 100px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
   text-align: center;
}
.ig{
    width: 50px;
}
.kembali{
    margin-right: 70%;
    width: 10px;
}